.card-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  border-radius: 15px;
  height: auto;
  width: 40vh;
  margin: 1rem;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s;
}

.cards:hover {
  transform: scale(1.05);
}

.card-image-top {
  height: 10rem;
  width: 10rem;
}
.card-title {
  font-size: 1.4rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.card-text {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}
